.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #1b2126;
  color: white;
  font-weight: 600;
  display: flex;
  padding: 0em 4em;
  justify-content: space-between;

  mat-icon {
    font-size: 50px !important;
    height: 50px !important;
    width: 50px !important;
  }
}
